<!doctype html>
<html>
    <head>
        <!-- Meta tagi -->
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="author" content="Michal Siewiera">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="static/bootstrap-4.6.1-dist/css/bootstrap.min.css"/>
        <link href="static/style.css" rel="stylesheet">
        <title>{% block title %}{% endblock %}</title>
        {% block style %}{% endblock %}
    </head>
    <body>
      {% block body %}{% endblock %}
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="inner">
              <h3 class="masthead-brand"><img src="static/logo.png" width="60" height="30" style="position: relative; top:-5px;">&nbsp;&nbsp;DC&RS Ansible Site</h3>
              <nav class="nav nav-masthead justify-content-center">
                {% block navbar %}{% endblock %}
              </nav>
            </div>
          </header>
        
          <main role="main" class="inner cover">
              {% block content %}{% endblock %}    
          </main>
        
          <footer class="mastfoot mt-auto">
            <div class="inner">
              <p>Ansible-DCRS-TAC <br> @Michal Siewiera</p>
            </div>
          </footer>
        </div>
        
        
        <!-- JavaScript -->
        <!-- jQuery, Popper.js, Bootstrap.js -->
        <script src="static/jquery-3.6.0.min.js"></script>
        <script src="static/popper.min.js"></script>
        <script src="static/bootstrap-4.6.1-dist/js/bootstrap.min.js"></script>
    </body>
</html>